<a href="https://colab.research.google.com/github/TWHessNM/data_exploration_outline/blob/main/Radical%20Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project *Insert* Data Analysis

### Problem Definition

# The Data

## IDE
A variety of exploratory analysis tools such as .info() , .keys() .shape etc

*Talk about the initial, unaltered data*

### Collection/Source
Note where the data was collected from and any methods of collecting data that is known

### Feature Dictionary
create a table of the definition of each feature that is known. If unknown note that also.

###Data Overview

EX: This data has 1 target column and 49 features. Each feature is anonymous and has no context other then it relates to the target.

The data set has 18000 observations.

### Imports

In [ ]:
import sklearn
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

###Mark's Radical Functions

In [ ]:
def show_me(money):
  """Displays info, describe, head, and tail
  
Money in the bank,
Show me the stats and details,
Info, head, tail, done."""
  print('Info')  
  print(money.info())
  print('\n')
  print('\n')
  print('Shape')
  print(money.shape())
  print('\n')
  print('\n')
  print('Described')
  print(money.describe().T)
  print('\n')
  print('\n')
  print('Head')
  print(money.head().T)
  print('\n')
  print('\n')
  print('Tail')
  print(money.tail().T)

In [ ]:
def count_nulls(data):
    """Checks for null values and displays only nulls
    
Null values abound,
Display them with a function,
Data cleaning done."""
    temp = data.isna().sum()
    filter = temp > 0
    print(data.shape)
    print(temp[filter])

In [ ]:
show_me?

###Load Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

###File Paths

This file path is for test and training data.

In [ ]:
train_path = '/content/drive/MyDrive/Data_Science_Bootcamp/Projects/Project_1/Data/Train.csv'

Rename the data from train if it will help clarify the dataset.

In [ ]:
sales = pd.read_csv(train_path)

,Unnamed: 0,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,...,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49
0,0,train_0,0,8.9255,-6.7863,11.9081,5.1187,5.7470,14.0137,0.5745,...,5.4879,-4.7645,3.1531,18.5618,1.7202,25.8398,4.4354,3.9642,3.1364,12.7803
1,1,train_1,0,11.5006,-4.1473,13.8588,5.6208,8.0851,14.0239,8.4135,...,5.7999,5.5378,5.5134,30.2645,11.0752,22.5441,7.6421,7.7214,2.5837,18.3560
2,2,train_2,0,8.6093,-2.7457,12.0805,6.9427,5.9525,14.1929,7.3124,...,5.7690,-7.0927,-5.8234,25.6820,2.4013,23.0866,2.9057,9.7905,1.6704,14.7222
3,3,train_3,0,11.0604,-2.1518,8.9522,5.8428,8.2450,13.8463,11.9704,...,5.3430,-7.1541,11.7134,14.7483,5.6961,-0.4639,4.4666,4.7433,0.7178,17.9697
4,4,train_4,0,9.8369,-1.4834,12.8746,5.9405,7.6784,13.8481,7.8895,...,5.5518,1.4493,2.3705,18.4685,5.1743,11.8503,-1.4905,9.5214,-0.1508,17.9974

In [ ]:
#Copy
sales_copy = sales.copy()

##IDA intitial data analaysis

In [ ]:
show_me()

(180000, 53)

From this initial data analysis I can see that there is a lot of data. 49 features and 18000 observations. the features use names that do not reveal anything usefull at this time.

### Data Cleaning

I am going to look for nulls and see if there are columns or rows I can drop

###One-hot encoding
If there were any values that were not numerical I would need to convert them to a represenative number.

#EDA

##Making sense of the data

##down sampling

##Correlation

#Data Processing

### What kind of Model to use

Reiterate the goal of you project:

- project goal
- project goal

Split your target from features from your down sampling.

###Cross-Validation
Next we will store the accuracy results of the Model in a variable to record results.

###Further Analysis

If you need a further analysis enter it here.

# Conclusion

##Key Takeaways:

##Model Performance

##Future exploration/ Next steps

Give yourself a stopping point and write down possible further next steps